.header {
    &__content {
        display: flex;
        align-items: center;
        padding: 0 20px;
        &_top {
            background-color: #2e2c28;
            color: #fff;
            height: 40px;
        }
    }
    &__links {
        padding: 0 20px;
    }
}